[project]
	description = Device repository for HTC Evo 3D GSM
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/johnnyslt (johnnyslt)
[access "refs/for/refs/*"]
	read = group user/johnnyslt (johnnyslt)
	push = group user/johnnyslt (johnnyslt)
	label-Code-Review = -2..+2 group user/johnnyslt (johnnyslt)
	label-Verified = -1..+1 group user/johnnyslt (johnnyslt)
	rebase = group user/johnnyslt (johnnyslt)
	removeReviewer = group user/johnnyslt (johnnyslt)
	submit = group user/johnnyslt (johnnyslt)
[access "refs/heads/*"]
	read = group user/johnnyslt (johnnyslt)
	create = group user/johnnyslt (johnnyslt)
	push = +force group user/johnnyslt (johnnyslt)
	pushMerge = group user/johnnyslt (johnnyslt)
[access "refs/tags/*"]
	push = +force group user/johnnyslt (johnnyslt)
	pushTag = group user/johnnyslt (johnnyslt)
	pushSignedTag = group user/johnnyslt (johnnyslt)
